{% extends 'base.html.twig' %}

{% block title %}Pas factuur aan{% endblock %}

{% block stylesheets %}

    {% include 'includes/stylesheets.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'includes/navigation.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right m-t-15">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light"
                                    data-toggle="dropdown" aria-expanded="false">Settings
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown One</a>
                                <a class="dropdown-item" href="#">Dropdown Two</a>
                                <a class="dropdown-item" href="#">Dropdown Three</a>
                                <a class="dropdown-item" href="#">Dropdown Four</a>
                            </div>
                        </div>

                        <h4 class="page-title">Route</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('admin_page') }}">Admin</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('index_invoice') }}">Invoice</a></li>
                            <li class="breadcrumb-item active">Edit invoice</li>
                        </ol>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Editing invoice</h4>
                            </br>
                            </br>

                            <!-- Form voor het aanpassen van een factuur-->
                            <div class="wrapper">
                                <div class="container-fluid">

                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                    <!-- End -->
                                    <br>
                                    <a href="{{ path('admin_page') }}/invoice"
                                       class="btn btn-dark md md-keyboard-return" style="border-color:#5fbeaa"></a>

                                </div>
                                <!-- end container -->
                            </div>
                            <!-- end wrapper -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End right Content here -->
    <!-- ============================================================== -->

{% endblock %}

{% block javascripts %}

    {% include 'includes/scripts.html.twig' %}

{% endblock %}