{% extends 'base.html.twig' %}

{% block title %}Customer page{% endblock %}

{% block stylesheets %}

    {% include 'includes/stylesheets.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'includes/navigation.html.twig' %}


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <h4 class="page-title">Route</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_page') }}">Admin</a></li>
                    <li class="breadcrumb-item active">Overview customer</li>
                </ol>

                <!--HTML WITHOUT THE DASHBOARD PART-->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">

                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">

                                {% if customers %}
                                    <thead>
                                    <tr>
                                        <th style="font-size:15px">Customer id</th>
                                        <th style="font-size:15px">Customer type</th>
                                        <th style="font-size:15px">title</th>
                                        <th style="font-size:15px">street</th>
                                        <th style="font-size:15px">taxnumber</th>
                                        <th style="font-size:15px">kvknumber</th>
                                        <th style="font-size:15px">phone</th>
                                        <th style="font-size:15px">fax</th>
                                        <th style="font-size:15px">company_name</th>
                                        <th style="font-size:15px">old_id</th>
                                        <th style="font-size:15px">vat_number</th>
                                        <th style="font-size:15px">active</th>
                                        <th style="font-size:15px">hourly_rate</th>
                                        <th style="font-size:15px">created</th>
                                        <th style="font-size:15px">updated</th>

                                        <th style="font-size:15px; text-align: center">Edit</th>
                                        <th style="font-size:15px; text-align: center">Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for customer in customers %}
                                        <tr>

                                            <td>{{ customer.id }}</td>
                                            <td>{{ customer.type }}</td>
                                            <td>{{ customer.title }}</td>
                                            <td>{{ customer.street }}</td>
                                            <td>{{ customer.taxnumber }}</td>
                                            <td>{{ customer.kvknumber }}</td>
                                            <td>{{ customer.phone }}</td>
                                            <td>{{ customer.fax }}</td>
                                            <td>{{ customer.companyName }}</td>
                                            <td>{{ customer.oldId }}</td>
                                            <td>{{ customer.vatNumber }}</td>

                                            <!-- Changes the color of the row border depending on value (1 or 0) -->
                                            {% if customer.active == 1 %}
                                                <td style="color: green">V</td>
                                            {% else %}
                                                <td style="color: red">X</td>
                                            {% endif %}

                                            <td>{{ customer.hourlyRate }}</td>
                                            <td>{{ customer.created | date('d M Y') }}</td>
                                            <td>{{ customer.updated | date('d M Y')  }}</td>

                                            <!-- The edit and delete buttons -->
                                            <td>
                                                <a href="/admin/customer/edit/{{ customer.id }}" class="btn btn-dark md md-create"
                                                   style="border-color:#5fbeaa"></a>
                                            </td>
                                            <td>
                                                <a href="/admin/customer/delete/{{ customer.id }}" class="confirm btn btn-danger delete-customer" data-id="{{ customer.id }}">
                                                    Delete</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                {% else %}
                                    <p>No clients made yet</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

{% endblock %}

    {% block javascripts %}

        {% include 'includes/scripts.html.twig' %}

    {% endblock %}

