{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block stylesheets %}
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/morris/morris.css') }}">

    <!-- App css -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>

    <script src="{{ asset('assets/js/modernizr.min.js') }}"></script>

{% endblock %}

{% block body %}

    <body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>Ub<i
                                    class="md md-album"></i>ld</span></a>
                    <!-- Image Logo here -->
                    <!--<a href="index.html" class="logo">-->
                    <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                    <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                    <!--</a>-->
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown"
                           href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="dripicons-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg"
                             aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5><span class="badge badge-danger float-right">5</span>Notification</h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="icon-bubble"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin
                                    <small class="text-muted">1 min ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="icon-user"></i></div>
                                <p class="notify-details">New user registered.
                                    <small class="text-muted">1 min ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="icon-like"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b>
                                    <small class="text-muted">1 min ago</small>
                                </p>
                            </a>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>

                        </div>
                    </li>

                    <li class="list-inline-item notification-list">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="dripicons-expand noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item notification-list">
                        <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                            <i class="dripicons-message noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown"
                           href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="{{ asset('assets/images/users/avatar-1.jpg') }}" alt="user"
                                 class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow">
                                    <small>Welcome ! John</small>
                                </h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-account-circle"></i> <span>Profile</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-settings"></i> <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-lock-open"></i> <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="md md-settings-power"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 853px;">
                <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 853px;">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                            <li class="text-muted menu-title">Navigation</li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect active subdrop"><i
                                            class="ti-user"></i> <span> Klanten </span> <span
                                            class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li class="active"><a href="#" class="active">Klant(en) toevoegen</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i
                                            class="ti-files"></i> <span> Projecten </span> <span
                                            class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li><a href="#">Projecten toevoegen</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i
                                            class="ti-pencil"></i> <span> Developers </span> <span
                                            class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li><a href="#">Developers toevoegen</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i
                                            class="ti-receipt"></i> <span> Facturen </span> <span
                                            class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li><a href="#">Nieuwe facturen maken</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i
                                            class="ti-timer"></i> <span> Werkregistratie </span> <span
                                            class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li><a href="#">Nieuwe uren registreren</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="slimScrollBar"
                     style="background: rgb(152, 166, 173); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 666.919px; visibility: visible;"></div>
                <div class="slimScrollRail"
                     style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>
    </div>
    </body>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right m-t-15">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown One</a>
                                <a class="dropdown-item" href="#">Dropdown Two</a>
                                <a class="dropdown-item" href="#">Dropdown Three</a>
                                <a class="dropdown-item" href="#">Dropdown Four</a>
                            </div>
                        </div>

                        <h4 class="page-title">Form elements</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Admin</a></li>
                            <li class="breadcrumb-item"><a href="#">Customer</a></li>
                            <li class="breadcrumb-item active">Create customer</li>
                        </ol>

                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Creating customer</h4>


                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">
                                        <form class="form-horizontal" role="form" action="{{ action('src/Controller/CustomerController.php') }}" method="post">

                                            <!--Name-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Name</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your name here">
                                                </div>
                                            </div>
                                            <!--End name-->

                                            <!--Street-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Street</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your street here">
                                                </div>
                                            </div>
                                            <!--End street-->

                                            <!--Taxnumber-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Taxnumber</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your taxnumber here">
                                                </div>
                                            </div>
                                            <!--End taxnumber-->

                                            <!--Kvknumber-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Kvknumber</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your kvknumber here">
                                                </div>
                                            </div>
                                            <!--End kvknumber-->

                                            <!--Phonenumber-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Phonenumber</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your phonenumber here">
                                                </div>
                                            </div>
                                            <!--End phonenumber-->

                                            <!--Faxnumber-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Fax number</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your faxnumber here">
                                                </div>
                                            </div>
                                            <!--End faxnumber-->

                                            <!--Company name-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Company name</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your company name here">
                                                </div>
                                            </div>
                                            <!--End company name-->

                                            <!--Old id-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Old id</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your old id here">
                                                </div>
                                            </div>
                                            <!--End old id-->

                                            <!--Vat number-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Vat number</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your vat number here">
                                                </div>
                                            </div>
                                            <!--End vat number-->

                                            <!--Active-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Active Select</label>
                                                <div class="col-10">
                                                    <select class="form-control">
                                                        <option selected>1 (Yes)</option>
                                                        <option>0 (No)</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <!--End active-->

                                            <!--hourly rate-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Hourly rate</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter your hourly rate here">
                                                </div>
                                            </div>
                                            <!--End hourly rate-->

                                            <!--Created-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Created</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="datetime-local" name="date">
                                                </div>
                                            </div>
                                            <!--End created-->

                                            <!--Updated-->
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Updated</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="datetime-local" name="date">
                                                </div>
                                            </div>
                                            <!--End updated-->

                                            </br>
                                            </br>

                                            <button type="submit" class="btn btn-primary; ti-save" style="float:right"></button>

                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->

                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->





    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    {#<!-- ============================================================== -->#}
    {#<!-- Start right Content here -->#}
    {#<!-- ============================================================== -->#}
    {#<div class="content-page">#}
        {#<!-- Start content -->#}
        {#<div class="content">#}
            {#<div class="container-fluid">#}

                {#<!-- Page-Title -->#}
                {#<div class="row">#}
                    {#<div class="col-sm-12">#}
                        {#<div class="btn-group pull-right m-t-15">#}
                            {#<button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light"#}
                                    {#data-toggle="dropdown" aria-expanded="false">Settings#}
                            {#</button>#}
                            {#<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">#}
                                {#<a class="dropdown-item" href="#">Dropdown One</a>#}
                                {#<a class="dropdown-item" href="#">Dropdown Two</a>#}
                                {#<a class="dropdown-item" href="#">Dropdown Three</a>#}
                                {#<a class="dropdown-item" href="#">Dropdown Four</a>#}
                            {#</div>#}
                        {#</div>#}

                        {#<h4 class="page-title">Dashboard</h4>#}
                        {#<p class="text-muted page-title-alt">Welcome to Ubold admin panel !</p>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}
                    {#<div class="col-md-6 col-lg-6 col-xl-3">#}
                        {#<div class="widget-bg-color-icon card-box fadeInDown animated">#}
                            {#<div class="bg-icon bg-icon-info pull-left">#}
                                {#<i class="md md-attach-money text-info"></i>#}
                            {#</div>#}
                            {#<div class="text-right">#}
                                {#<h3 class=""><b class="counter">31,570</b></h3>#}
                                {#<p class="text-muted mb-0">Total Revenue</p>#}
                            {#</div>#}
                            {#<div class="clearfix"></div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-md-6 col-lg-6 col-xl-3">#}
                        {#<div class="widget-bg-color-icon card-box">#}
                            {#<div class="bg-icon bg-icon-pink pull-left">#}
                                {#<i class="md md-add-shopping-cart text-pink"></i>#}
                            {#</div>#}
                            {#<div class="text-right">#}
                                {#<h3 class=""><b class="counter">280</b></h3>#}
                                {#<p class="text-muted mb-0">Today's Sales</p>#}
                            {#</div>#}
                            {#<div class="clearfix"></div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-md-6 col-lg-6 col-xl-3">#}
                        {#<div class="widget-bg-color-icon card-box">#}
                            {#<div class="bg-icon bg-icon-purple pull-left">#}
                                {#<i class="md md-equalizer text-purple"></i>#}
                            {#</div>#}
                            {#<div class="text-right">#}
                                {#<h3 class=""><b class="counter">0.16</b>%</h3>#}
                                {#<p class="text-muted mb-0">Conversion</p>#}
                            {#</div>#}
                            {#<div class="clearfix"></div>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-md-6 col-lg-6 col-xl-3">#}
                        {#<div class="widget-bg-color-icon card-box">#}
                            {#<div class="bg-icon bg-icon-success pull-left">#}
                                {#<i class="md md-remove-red-eye text-success"></i>#}
                            {#</div>#}
                            {#<div class="text-right">#}
                                {#<h3 class=""><b class="counter">64,570</b></h3>#}
                                {#<p class="text-muted mb-0">Today's Visits</p>#}
                            {#</div>#}
                            {#<div class="clearfix"></div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}

                    {#<div class="col-lg-12 col-xl-4">#}
                        {#<div class="card-box">#}
                            {#<h4 class=" header-title m-t-0 m-b-30">Total Revenue</h4>#}

                            {#<div class="widget-chart text-center">#}
                                {#<input class="knob" data-width="150" data-height="150" data-linecap=round#}
                                       {#data-bgcolor="#505e6b" data-fgColor="#fb6d9d" value="80" data-skin="tron"#}
                                       {#data-angleOffset="180" data-readOnly=true data-thickness=".15"/>#}
                                {#<h5 class="text-muted m-t-20 font-16">Total sales made today</h5>#}
                                {#<h2 class="font-600">$75</h2>#}
                                {#<ul class="list-inline m-t-15">#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5 class="text-muted m-t-20 font-16">Target</h5>#}
                                        {#<h4 class="m-b-0">$1000</h4>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5 class="text-muted m-t-20 font-16">Last week</h5>#}
                                        {#<h4 class="m-b-0">$523</h4>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5 class="text-muted m-t-20 font-16">Last Month</h5>#}
                                        {#<h4 class="m-b-0">$965</h4>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}

                    {#<div class="col-lg-12 col-xl-8">#}
                        {#<div class="card-box">#}
                            {#<h4 class=" header-title m-t-0">Sales Analytics</h4>#}
                            {#<div class="text-center">#}
                                {#<ul class="list-inline chart-detail-list">#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #5fbeaa;"></i>Desktops</h5>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #5d9cec;"></i>Tablets</h5>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #dcdcdc;"></i>Mobiles</h5>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="morris-bar-stacked" style="height: 310px;"></div>#}
                        {#</div>#}
                    {#</div>#}


                {#</div>#}
                {#<!-- end row -->#}


                {#<div class="row">#}

                    {#<div class="col-lg-12 col-xl-6">#}
                        {#<div class="card-box">#}
                            {#<h4 class=" header-title m-t-0">Total Sales</h4>#}

                            {#<div class="text-center">#}
                                {#<ul class="list-inline chart-detail-list">#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #5fbeaa;"></i>Desktops</h5>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #5d9cec;"></i>Tablets</h5>#}
                                    {#</li>#}
                                    {#<li class="list-inline-item">#}
                                        {#<h5><i class="fa fa-circle m-r-5" style="color: #ebeff2;"></i>Mobiles</h5>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}

                            {#<div id="morris-area-with-dotted" style="height: 353px;"></div>#}

                        {#</div>#}

                    {#</div>#}

                    {#<!-- col -->#}

                    {#<div class="col-lg-12 col-xl-6">#}
                        {#<div class="card-box">#}
                            {#<a href="#" class="pull-right btn btn-default btn-sm waves-effect waves-light">View#}
                                {#All</a>#}
                            {#<h4 class="header-title m-t-0">Recent Activities</h4>#}
                            {#<p class="text-muted m-b-30 font-13">#}
                                {#Your awesome text goes here. Yeah !!#}
                            {#</p>#}

                            {#<div class="nicescroll p-20" style="height: 355px;">#}
                                {#<div class="timeline-2">#}
                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>5 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded#}
                                                {#a#}
                                                {#photo <strong>"DSC000586.jpg"</strong></p>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>30 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><a href="" class="text-info">Lorem</a> commented your post.</p>#}
                                            {#<p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam#}
                                                    {#laoreet tellus ut tincidunt euismod. "</em></p>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>59 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><a href="" class="text-info">Jessi</a> attended a meeting with<a#}
                                                        {#href="#"#}
                                                        {#class="text-success">John#}
                                                    {#Doe</a>.</p>#}
                                            {#<p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam#}
                                                    {#laoreet tellus ut tincidunt euismod. "</em></p>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>5 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2#}
                                                {#new#}
                                                {#photos</p>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>30 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><a href="" class="text-info">Lorem</a> commented your post.</p>#}
                                            {#<p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam#}
                                                    {#laoreet tellus ut tincidunt euismod. "</em></p>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<div class="time-item">#}
                                        {#<div class="item-info">#}
                                            {#<div class="text-muted">#}
                                                {#<small>59 minutes ago</small>#}
                                            {#</div>#}
                                            {#<p><a href="" class="text-info">Jessi</a> attended a meeting with<a#}
                                                        {#href="#"#}
                                                        {#class="text-success">John#}
                                                    {#Doe</a>.</p>#}
                                            {#<p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam#}
                                                    {#laoreet tellus ut tincidunt euismod. "</em></p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}


                        {#</div>#}
                    {#</div>#}
                    {#<!-- end col -->#}


                {#</div>#}
                {#<!-- end row -->#}


            {#</div> <!-- container -->#}

        {#</div> <!-- content -->#}

        {#<footer class="footer text-right">#}
            {#&copy; 2016 - 2018. All rights reserved.#}
        {#</footer>#}

    {#</div>#}


    {#<!-- ============================================================== -->#}
    {#<!-- End Right content here -->#}
    {#<!-- ============================================================== -->#}


    {#<!-- Right Sidebar -->#}
    {#<div class="side-bar right-bar nicescroll">#}
        {#<h4 class="text-center">Chat</h4>#}
        {#<div class="contact-list nicescroll">#}
            {#<ul class="list-group contacts-list">#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/avatar-1.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Chadengle</span>#}
                        {#<i class="fa fa-circle online"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-2.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Tomaslau</span>#}
                        {#<i class="fa fa-circle online"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-3.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Stillnotdavid</span>#}
                        {#<i class="fa fa-circle online"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-4.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Kurafire</span>#}
                        {#<i class="fa fa-circle online"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-5.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Shahedk</span>#}
                        {#<i class="fa fa-circle away"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-6.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Adhamdannaway</span>#}
                        {#<i class="fa fa-circle away"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-7.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Ok</span>#}
                        {#<i class="fa fa-circle away"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-8.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Arashasghari</span>#}
                        {#<i class="fa fa-circle offline"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-9.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Joshaustin</span>#}
                        {#<i class="fa fa-circle offline"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
                {#<li class="list-group-item">#}
                    {#<a href="#">#}
                        {#<div class="avatar">#}
                            {#<img src="{{ asset('assets/images/users/avatar-10.jpg') }}" alt="">#}
                        {#</div>#}
                        {#<span class="name">Sortino</span>#}
                        {#<i class="fa fa-circle offline"></i>#}
                    {#</a>#}
                    {#<span class="clearfix"></span>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
    {#<!-- /Right-bar -->#}

    {#</div>#}
    {#<!-- END wrapper -->#}

    {#</body>#}

{% endblock %}

{% block javascripts %}

    <script>
        var resizefunc = [];
    </script>

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/detect.js') }}"></script>
    <script src="{{ asset('assets/js/fastclick.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('assets/js/waves.js') }}"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>

    <script src="{{ asset('assets/plugins/peity/jquery.peity.min.js') }}"></script>

    <!-- jQuery  -->
    <script src="{{ asset('assets/plugins/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/counterup/jquery.counterup.min.js') }}"></script>

    <script src="{{ asset('assets/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/raphael/raphael-min.js') }}"></script>

    <script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.js') }}"></script>

    <script src="{{ asset('assets/pages/jquery.dashboard.js') }}"></script>

    <script src="{{ asset('assets/js/jquery.core.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.app.js') }}"></script>

    <script src="{{ asset('assets/js/modernizr.min.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });

            $(".knob").knob();

        });
    </script>


{% endblock %}