{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block stylesheets %}

    {% include 'includes/stylesheets.html.twig' %}

{% endblock %}

{% block body %}

    {#<div class="col-md-6">#}
    {#<div class="card-box">#}
    {#<h4 class="m-t-0 m-b-30 header-title">Horizontal form</h4>#}

    {#<form action="{{ path('login_page') }}" method="post">#}
    {#<div class="form-group row">#}
    {#<label for="username" class="col-3 col-form-label">Username</label>#}
    {#<div class="col-9">#}
    {#<input type="text" class="form-control" id="username" name="_username">#}
    {#</div>#}
    {#</div>#}

    {#<div class="form-group row">#}
    {#<label for="password" class="col-3 col-form-label">Password</label>#}
    {#<div class="col-9">#}
    {#<input type="password" class="form-control" id="password" name="_password">#}
    {#</div>#}
    {#</div>#}

    {#<div class="form-group mb-0 justify-content-end row">#}
    {#<div class="col-9">#}
    {#<button type="submit" class="btn btn-info waves-effect waves-light">Login</button>#}
    {#</div>#}
    {#</div>#}
    {#</form>#}
    {#</div>#}
    {#</div>#}

    <div class="container">

        <div class="row" style="padding-top: 100px">
            <div class="col-md-12 text-center">
                <img src="{{ asset('assets/images/AgencyDesk-01.jpg') }}" style="border-radius: 20px; height: 180px; width: 280px">
            </div>
        </div>

        <div class="row" style="padding-top: 80px">
            <div class="col-md-12 text-center">

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}

                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                    {#{{ form_row(form._token) }}#}

                    <div class="col-md-12 text-center" style="padding-top: 30px">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Login</button>
                    </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}

    {% block javascripts %}

        {% include 'includes/scripts.html.twig' %}

    {% endblock %}