{% extends 'base.html.twig' %}

{% block title %}Maak uren{% endblock %}

{% block stylesheets %}

    {% include 'includes/stylesheets.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'includes/navigation.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right m-t-15">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light"
                                    data-toggle="dropdown" aria-expanded="false">Settings
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown One</a>
                                <a class="dropdown-item" href="#">Dropdown Two</a>
                                <a class="dropdown-item" href="#">Dropdown Three</a>
                                <a class="dropdown-item" href="#">Dropdown Four</a>
                            </div>
                        </div>

                        <h4 class="page-title">Route</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('admin_page') }}">Admin</a></li>
                            <li class="breadcrumb-item"><a
                                        href="{{ path('index_workregistration') }}">Urenregistratie</a></li>
                            <li class="breadcrumb-item active">Maak urenregistratie</li>
                        </ol>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Creating workregistration</h4>
                            <br/>
                            <br/>

                            <!-- Form voor het registreren van uren -->
                            <div class="wrapper">
                                <div class="container-fluid">

                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                    <!-- End -->
                                    <br>
                                    <a href="{{ path('admin_page') }}/workregistration"
                                       class="btn btn-dark md md-keyboard-return" style="border-color:#5fbeaa"></a>

                                    <br/>
                                    <br/>

                                    <!-- Stopwatch -->
                                    <div class="col-md-3"
                                         style="margin: auto; border:2px solid #5fbeaa; border-radius: 6px; background-color: #31363c; text-align: center; justify-content: right">

                                        <!-- Scripts voor de timer -->
                                        <script src="{{ asset('js/stopwatch.js') }}"></script>

                                        <h1>Timer</h1>
                                        <h1 style="border:2px solid #5fbeaa; border-radius: 6px; background-color: #000000" id="display">00:00:00</h1>
                                        <button class="start-pause btn btn-primary btn-rounded waves-effect waves-light" id="startStop" onclick="startStop()">Start</button>
                                        <button class="stop btn btn-danger btn-rounded waves-effect waves-light" id="reset" onclick="reset()">Stop</button>
                                        <br/>
                                        <br/>
                                        {#<button class="button-insert btn btn-success btn-rounded waves-effect waves-light">#}
                                            {#Insert#}
                                        {#</button>#}
                                        <br/>
                                    </div>
                                    <!-- End stopwatch -->

                                </div>
                                <!-- end container -->
                            </div>
                            <!-- end wrapper -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End right Content here -->
    <!-- ============================================================== -->

{% endblock %}

{% block javascripts %}

    {% include 'includes/scripts.html.twig' %}

    <script>
        // Alert for resetting the timer. Prevents the user from resetting the timer by accident.
        // $('#reset').click(function () {
        //    alert('Are you sure?')
        // });
        // End of the alert function

        //Function for creating parts of the current time
        $.fn.setNow = function (onlyBlank) {
            var now = new Date($.now());

            var year = now.getFullYear();

            var month = (now.getMonth() + 1).toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
            var date = now.getDate().toString().length === 1 ? '0'         + (now.getDate()).toString()      : now.getDate();
            var hours = now.getHours().toString().length === 1 ? '0'       + now.getHours().toString()       : now.getHours();
            var minutes = now.getMinutes().toString().length === 1 ? '0'   + now.getMinutes().toString()     : now.getMinutes();
            var seconds = now.getSeconds().toString().length === 1 ? '0'   + now.getSeconds().toString()     : now.getSeconds();

            var formattedDate = year + '-' + month + '-' + date;
            var formattedTime = 'T' + hours + ':' + minutes;

            if ( onlyBlank === true && $(this).val() ) {
                return this;
            }

            $(this).val(formattedDate + formattedTime);

            return this;
        };
        // End of the function

        // Function for filling in the current start time of the workregistration
        $('.start-pause').click(function () {
            $('#actual_work_form_begin').setNow();
            $('.start-pause').attr("disabled", true);
        });
        // End of the function

        // Function for filling in the current stop time of the workregistration
        $('.stop').click(function () {
            $('#actual_work_form_end').setNow();

            // Calculating startime //
            var startDate = $('#actual_work_form_begin').val();
            var formatStartHours = startDate.replace(/[-:T]/g, '').substr(8,2);
            var formatStartMinutes = startDate.replace(/[-:T]/g, '').substr(10,2);

            var startHours = (parseInt(formatStartHours) * 60);
            var startMinutes = parseInt(formatStartMinutes);
            // End starttime //

            // Calculating endtime //
            var endDate = $('#actual_work_form_end').val();
            var formatEndHours = endDate.replace(/[-:T]/g, '').substr(8,2);
            var formatEndMins = endDate.replace(/[-:T]/g, '').substr(10,2);

            var endHours = (parseInt(formatEndHours) * 60);
            var endMinutes = parseInt(formatEndMins);
            // End endtime //

            var timeDifference = (endHours - startHours) + (endMinutes - startMinutes);

            $('#actual_work_form_timePast').val(timeDifference);

        });
        // End of the function

    </script>

{% endblock %}