{% extends 'base.html.twig' %}

{% block title %}Index van developers{% endblock %}

{% block stylesheets %}

    {% include 'includes/stylesheets.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'includes/navigation.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <h4 class="page-title">Route</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_page') }}">Admin</a></li>
                    <li class="breadcrumb-item active">Overview developers</li>
                </ol>

                <!--HTML WITHOUT THE DASHBOARD PART-->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">

                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">

                                {% if developers %}
                                    <thead>
                                    <tr>
                                        {#<th style="font-size:15px">Developer id</th>#}
                                        {#<th style="font-size:15px">Slug</th>#}
                                        <th style="font-size:15px">First name</th>
                                        <th style="font-size:15px">Prefix</th>
                                        <th style="font-size:15px">Last name</th>
                                        <th style="font-size:15px">Email</th>
                                        {#<th style="font-size:15px">Salt</th>#}
                                        {#<th style="font-size:15px">Password</th>#}

                                        <th style="font-size:15px">active</th>
                                        <th style="font-size:15px">created</th>
                                        <th style="font-size:15px">updated</th>

                                        <th style="font-size:15px; text-align: center">Edit</th>
                                        <th style="font-size:15px; text-align: center">Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for developer in developers %}
                                        <tr>

                                            {#<td>{{ developer.id }}</td>#}
                                            {#<td>{{ developer.slug }}</td>#}
                                            <td>{{ developer.firstName }}</td>
                                            <td>{{ developer.prefix }}</td>
                                            <td>{{ developer.lastName }}</td>
                                            <td>{{ developer.email }}</td>
                                            {#<td>{{ developer.salt }}</td>#}
                                            {#<td>{{ developer.password }}</td>#}

                                            {% if developer.active == 1 %}
                                                <td style="color: green">V</td>
                                            {% else %}
                                                <td style="color: red">X</td>
                                            {% endif %}

                                            <td>{{ developer.created | date('d M Y') }}</td>
                                            <td>{{ developer.updated | date('d M Y') }}</td>

                                            <!-- The edit and delete buttons -->
                                            <td>
                                                <a href="/admin/developer/edit/{{ developer.id }}" class="btn btn-dark md md-create"
                                                   style="border-color:#5fbeaa"></a>
                                            </td>
                                            <td>
                                                <a href="/admin/developer/delete/{{ developer.id }}" class="confirm btn btn-danger delete-developer" data-id="{{ developer.id }}">
                                                    Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                {% else %}
                                    <p>No developers made yet</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

{% endblock %}

{% block javascripts %}

   {% include 'includes/scripts.html.twig' %}

{% endblock %}